.roleSelection {
  width: 100%;
  max-width: 1366px;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.roleButton {
  width: 450px;
  height: 60px;
  position: absolute;
  left: 51.5%;
  top: 100px;
  transform: translateX(-50%);
  background-color: #002975;
  border-radius: 15px;
  border: 1px solid #CDAF75;
  text-align: center;
  font-family: 'Inria Serif', serif;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 300px;
  height: 275px;
  position: absolute;
  left: 50px;
  top: 150px;
  mix-blend-mode: multiply;
}

.line {
  width: 500px;
  height: 0;
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  border: 1px solid black;
}

.description {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 150px;
  color: #000000;
  font-size: 25px;
  font-family: 'Inria Serif', serif;
  font-weight: bold;
}

.iAmA {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 190px;
  color: #000000;
  font-size: 25px;
  font-family: 'Inria Serif', serif;
  font-weight: bold;
}

.roleButtons {
  display: flex;
  position: absolute;
  left: 33.5%;
  top: 300px;
  gap: 45px; /* Adjusted for spacing between buttons */
}

.studentButton, .instructorButton {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid #CDAF75;
  font-family: 'Inria Serif', serif;
  font-size: 25px;
  font-weight: bold;
  color: #fafaf9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none; /* Ensure no underline */
  background: none; /* Remove any default button background */
}

.studentButton {
  background-color: #64AB9D;
}

.instructorButton {
  background-color: #028090;
}
