  .content{
    margin: 0;
    padding: 0;
    justify-content: left;
  }
  .topSection {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    /* margin: 1.25%; */
    padding: 0;
    width: 100%; 
    right: 70%;/* Ensure it takes the full width */
  }
  
  .studentHome{
    display: flex;
  }

  .courseCard{
    margin-right: 2vw;
  }

  .content h2{
    text-align: left;
    padding: 1px;
    margin-bottom: 1vh;
    font-size: x-large;
    font-weight: bold;
  }
  

/* Responsive Styles */
@media (max-width: 768px) {
    .assignments1, .pendingAssignments1 {
        width: 100%;
        left: 0;
    }
    .assignmentDetails, .assignmentDetails1, .breadcrumbs {
        width: 100%;
        left: 0;
        text-align: center;
    }
    .courseCard {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 480px) {
    .studentHome {
        font-size: 3vw;
    }
    .instructor {
        font-size: 2vw;
    }
}